.undercolor2 .container .header {
    background: #757196;
    color: #ffffff;
}
.undercolor2 .container .mapName {
    color: #ffffff;
}
.undercolor2 .container .mapName .map_meanus {
    background: #757196;
    color: #ffffff;
}
.undercolor2 .container .mapName .map_meanus li:hover {
    background: #605a84;
}
.undercolor2 .el-tooltip__popper.is-dark {
    color: #ffffff;
    background: #66638e;
}
.undercolor2 .el-tooltip__popper[x-placement^=left] .popper__arrow {
    border-left-color: #66638e;
}
.undercolor2 .el-tooltip__popper[x-placement^=left] .popper__arrow::after {
    border-left-color: #66638e;
}
.undercolor2 .total_anchor {
    color: #ffffff;
}
.undercolor2 .total_tag {
    color: #ffffff;
}
.undercolor2 .container .main .m-right {
    background: #757196;
}
.undercolor2 .container .main .one_menu_item:hover {
    background: #605a84;
}
.undercolor2 .container .main .tag.active,
.undercolor2 .container .main .anchor.active,
.undercolor2 .container .main .fence.active,
.undercolor2 .container .main .attendance.active,
.undercolor2 .container .main .polling.active,
.undercolor2 .container .main .dimension.active,
.undercolor2 .container .main .moreMonitor.active,
.undercolor2 .container .main .historys.active {
    background: #605a84;
}
.undercolor2 .container .main .m-right .tag,
.undercolor2 .container .main .m-right .anchor,
.undercolor2 .container .main .m-right .fence,
.undercolor2 .container .main .m-right .historys,
.undercolor2 .container .main .m-right .attendance,
.undercolor2 .container .main .m-right .polling,
.undercolor2 .container .main .m-right .statis,
.undercolor2 .container .main .m-right .camera,
.undercolor2 .container .main .m-right .wall,
.undercolor2 .container .main .m-right .heatMap,
.undercolor2 .container .main .m-right .dimension,
.undercolor2 .container .main .m-right .moreMonitor {
    border-bottom: 1px solid #6d6684;
    border-top: 1px solid #8892a9;
}
.undercolor2 .m-right .line_color {
    border-top: 1px solid #8892a9;
}
.undercolor2 .container .main .m-left .menu:hover,
.undercolor2 .container .main .m-right .menu:hover {
    background-color: #605a84;
}
.undercolor2 .container .main .m-left {
    background: #757196;
}
.undercolor2 .btn-appear {
    background-color: #20a0ff;
}
.undercolor2 .container .main .m-right .tag.active .appear,
.undercolor2 .container .main .m-right .anchor.active .appear,
.undercolor2 .container .main .m-right .fence.active .appear,
.undercolor2 .container .main .m-right .historys.active .appear,
.undercolor2 .container .main .m-right .polling.active .appear,
.undercolor2 .container .main .m-right .attendance.active .appear,
.undercolor2 .container .main .m-right .statis.active .appear,
.undercolor2 .container .main .m-right .camera.active .appear,
.undercolor2 .container .main .m-right .wall.active .appear,
.undercolor2 .container .main .m-right .heatMap.active .appear,
.undercolor2 .container .main .m-right .dimension.active .appear,
.undercolor2 .container .main .m-right .moreMonitor.active .appear {
    background: rgba(117, 113, 150, 0.6);
}
.undercolor2 .container .main .m-left .tag.active .appear,
.undercolor2 .container .main .m-left .anchor.active .appear,
.undercolor2 .container .main .m-left .fence.active .appear,
.undercolor2 .container .main .m-left .historys.active .appear,
.undercolor2 .container .main .m-left .attendance.active .appear,
.undercolor2 .container .main .m-left .polling.active .appear,
.undercolor2 .container .main .m-left .statis.active .appear,
.undercolor2 .container .main .m-left .camera.active .appear,
.undercolor2 .container .main .m-left .wall.active .appear,
.undercolor2 .container .main .m-left .heatMap.active .appear,
.undercolor2 .container .main .m-left .dimension.active .appear,
.undercolor2 .container .main .m-left .moreMonitor.active .appear {
    background: rgba(117, 113, 150, 0.6);
}
#right_menus.undermenucolor2 .el-table tr {
    color: #ffffff;
}
#right_menus.undermenucolor2 .el-table--enable-row-hover .el-table__body tr:hover > td {
    color: #ffffff;
}
#right_menus.undermenucolor2 .el-table__footer-wrapper thead div,
#right_menus.undermenucolor2 .el-table__header-wrapper thead div {
    color: #ffffff;
}
.undercolor2 .el-table__empty-text {
    color: #ffffff;
}
#right_menus.undermenucolor2 ::-webkit-scrollbar-thumb {
    background: rgba(144, 130, 187, 0.8);
}
#right_menus.undermenucolor2 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(245, 245, 245, 0.3);
}
.undercolor2 .fence_from_wrap_input,
.undercolor2 .fence_from_wrap-select,
.undercolor2 .fence_from_wrap-select_trif,
.undercolor2 .dimension_from_wrap_input,
.undercolor2 .moreMonitor_from_wrap-select,
.undercolor2 .moreMonitor_from_wrap_input,
.undercolor2 .camera .camera_from_wrap .form-edit .camera_from_wrap_input,
.undercolor2 .camera .camera_from_wrap .form-edit select,
#right_menus.undermenucolor2 .el-input__inner {
    background: rgba(76, 62, 125, 0.5);
}
.undercolor2 .fence_from_wrap-select_tagCat_popper {
    background: #7a74a2;
}
.undercolor2 .el-picker-panel {
    background: rgba(117, 113, 150, 0.8);
}
#right_menus.undermenucolor2 .fence_validity_style .addBtn {
    background: #7768ab;
}
.undercolor2 .fence_from_wrap_sure.btn,
.undercolor2 .dimension_from_wrap .dim_btn-box .dim_from_wrap_btn,
.undercolor2 .moreMonitor .btn-box button.btn,
.undermenucolor2 .camera_save {
    background-color: #757196;
    color: #ffffff;
    opacity: 1;
}
.undermenucolor2 .camera_save {
    border: none;
}
.undermenucolor2 .anchor_del {
    border: none;
}
.undercolor2 .fence_from_wrap_sure.btn:hover,
.undercolor2 .dimension_from_wrap .dim_btn-box .dim_from_wrap_btn:hover,
.undercolor2 .moreMonitor .btn-box button.btn:hover,
.undermenucolor2 .camera_save:hover {
    background-color: #ffffff;
    color: #757196;
    opacity: 1;
}
.undercolor2 .fence_from_wrap_reset.btn,
.undermenucolor2 .anchor_del {
    background-color: #757196;
    color: #ffffff;
    opacity: 1;
}
.undercolor2 .fence_from_wrap_reset.btn:hover,
.undermenucolor2 .anchor_del:hover {
    background-color: #ffffff;
    color: #757196;
    opacity: 1;
}
.undercolor2 .moreMonitor_from_wrap .form-edit {
    background: none;
}
.undercolor2 .moreMonitor_all_box {
    background: #9a93a0;
}
.undercolor2 .el-picker-panel [slot=sidebar],
.undercolor2 .el-picker-panel__sidebar {
    background-color: rgba(114, 110, 146, 0.5);
}
.undercolor2 .el-input__inner {
    background-color: rgba(255, 255, 255, 0.6);
}
.undercolor2 .el-picker-panel__shortcut {
    color: #ffffff;
}
.undercolor2 .el-transfer-panel {
    background-color: rgba(102, 99, 125, 0.5);
}
.undercolor2 .el-transfer-panel .el-transfer-panel__header,
.undercolor2 .el-transfer-panel .el-transfer-panel__footer {
    background-color: rgba(117, 113, 150, 0.9);
    color: #f5f5f5;
}
.undercolor2 .el-transfer-panel .el-transfer-panel__footer .el-checkbox {
    color: #bfcbd9;
}
.undercolor2 .el-transfer-panel__item.el-checkbox {
    color: #bfcbd9;
}
.undercolor1 .container .header {
    background: #685cc7;
    color: #ffffff;
}
.undercolor1 .container .mapName {
    color: #ffffff;
}
.undercolor1 .container .mapName .map_meanus {
    background: #685cc7;
    color: #ffffff;
}
.undercolor1 .container .mapName .map_meanus li:hover {
    background: #3e258c;
}
.undercolor1 .el-tooltip__popper.is-dark {
    color: #ffffff;
    background: #7e74d2;
}
.undercolor1 .el-tooltip__popper[x-placement^=left] .popper__arrow {
    border-left-color: #7e74d2;
}
.undercolor1 .el-tooltip__popper[x-placement^=left] .popper__arrow::after {
    border-left-color: #7e74d2;
}
.undercolor1 .total_anchor {
    color: #ffffff;
}
.undercolor1 .total_tag {
    color: #ffffff;
}
.undercolor1 .container .main .m-right {
    background: #685cc7;
}
.undercolor1 .container .main .one_menu_item:hover {
    background: #3e258c;
}
.undercolor1 .container .main .tag.active,
.undercolor1 .container .main .anchor.active,
.undercolor1 .container .main .fence.active,
.undercolor1 .container .main .attendance.active,
.undercolor1 .container .main .polling.active,
.undercolor1 .container .main .dimension.active,
.undercolor1 .container .main .moreMonitor.active,
.undercolor1 .container .main .historys.active {
    background: #3e258c;
}
.undercolor1 .container .main .m-right .tag,
.undercolor1 .container .main .m-right .anchor,
.undercolor1 .container .main .m-right .fence,
.undercolor1 .container .main .m-right .historys,
.undercolor1 .container .main .m-right .attendance,
.undercolor1 .container .main .m-right .polling,
.undercolor1 .container .main .m-right .statis,
.undercolor1 .container .main .m-right .camera,
.undercolor1 .container .main .m-right .wall,
.undercolor1 .container .main .m-right .heatMap,
.undercolor1 .container .main .m-right .dimension,
.undercolor1 .container .main .m-right .moreMonitor {
    border-bottom: 1px solid #3e558c;
    border-top: 1px solid #3e258c;
}
.undercolor1 .m-right .line_color {
    border-top: 1px solid #3e258c;
}
.undercolor1 .container .main .m-left .menu:hover,
.undercolor1 .container .main .m-right .menu:hover {
    background-color: #3e258c;
}
.undercolor1 .container .main .m-left {
    background: #685cc7;
}
.undercolor1 .btn-appear {
    background-color: #20a0ff;
}
.undercolor1 .container .main .m-right .tag.active .appear,
.undercolor1 .container .main .m-right .anchor.active .appear,
.undercolor1 .container .main .m-right .fence.active .appear,
.undercolor1 .container .main .m-right .historys.active .appear,
.undercolor1 .container .main .m-right .polling.active .appear,
.undercolor1 .container .main .m-right .attendance.active .appear,
.undercolor1 .container .main .m-right .statis.active .appear,
.undercolor1 .container .main .m-right .camera.active .appear,
.undercolor1 .container .main .m-right .wall.active .appear,
.undercolor1 .container .main .m-right .heatMap.active .appear,
.undercolor1 .container .main .m-right .dimension.active .appear,
.undercolor1 .container .main .m-right .moreMonitor.active .appear {
    background: rgba(56, 17, 212, 0.4);
}
.undercolor1 .container .main .m-left .tag.active .appear,
.undercolor1 .container .main .m-left .anchor.active .appear,
.undercolor1 .container .main .m-left .fence.active .appear,
.undercolor1 .container .main .m-left .historys.active .appear,
.undercolor1 .container .main .m-left .attendance.active .appear,
.undercolor1 .container .main .m-left .polling.active .appear,
.undercolor1 .container .main .m-left .statis.active .appear,
.undercolor1 .container .main .m-left .camera.active .appear,
.undercolor1 .container .main .m-left .wall.active .appear,
.undercolor1 .container .main .m-left .heatMap.active .appear,
.undercolor1 .container .main .m-left .dimension.active .appear,
.undercolor1 .container .main .m-left .moreMonitor.active .appear {
    background: rgba(56, 17, 212, 0.4);
}
#right_menus.undermenucolor1 .el-table tr {
    color: #ffffff;
}
#right_menus.undermenucolor1 .el-table--enable-row-hover .el-table__body tr:hover > td {
    color: #ffffff;
}
#right_menus.undermenucolor1 .el-table__footer-wrapper thead div,
#right_menus.undermenucolor1 .el-table__header-wrapper thead div {
    color: #ffffff;
}
.undercolor1 .el-table__empty-text {
    color: #ffffff;
}
#right_menus.undermenucolor1 ::-webkit-scrollbar-thumb {
    background: rgba(101, 74, 183, 0.8);
}
#right_menus.undermenucolor1 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(245, 245, 245, 0.3);
}
.undercolor1 .fence_from_wrap_input,
.undercolor1 .fence_from_wrap-select,
.undercolor1 .fence_from_wrap-select_trif,
.undercolor1 .dimension_from_wrap_input,
.undercolor1 .moreMonitor_from_wrap-select,
.undercolor1 .moreMonitor_from_wrap_input,
.undercolor1 .camera .camera_from_wrap .form-edit .camera_from_wrap_input,
.undercolor1 .camera .camera_from_wrap .form-edit select,
#right_menus.undermenucolor1 .el-input__inner {
    background: rgba(47, 18, 150, 0.5);
}
.undercolor1 .fence_from_wrap-select_tagCat_popper {
    background: #665fce;
}
.undercolor1 .el-picker-panel {
    background: rgba(104, 92, 197, 0.8);
}
#right_menus.undermenucolor1 .fence_validity_style .addBtn {
    background: #573cb4;
}
.undercolor1 .fence_from_wrap_sure.btn,
.undercolor1 .dimension_from_wrap .dim_btn-box .dim_from_wrap_btn,
.undercolor1 .moreMonitor .btn-box button.btn,
.undermenucolor1 .camera_save {
    background-color: #665fce;
    color: #ffffff;
    opacity: 1;
}
.undermenucolor1 .camera_save {
    border: none;
}
.undermenucolor1 .anchor_del {
    border: none;
}
.undercolor1 .fence_from_wrap_sure.btn:hover,
.undercolor1 .dimension_from_wrap .dim_btn-box .dim_from_wrap_btn:hover,
.undercolor1 .moreMonitor .btn-box button.btn:hover,
.undermenucolor1 .camera_save:hover {
    background-color: #ffffff;
    color: #665fce;
    opacity: 1;
}
.undercolor1 .fence_from_wrap_reset.btn,
.undermenucolor1 .anchor_del {
    background-color: #665fce;
    color: #ffffff;
    opacity: 1;
}
.undercolor1 .fence_from_wrap_reset.btn:hover,
.undermenucolor1 .anchor_del:hover {
    background-color: #ffffff;
    color: #665fce;
    opacity: 1;
}
.undercolor1 .moreMonitor_from_wrap .form-edit {
    background: none;
}
.undercolor1 .moreMonitor_all_box {
    background: #685cc5;
}
.undercolor1 .el-picker-panel [slot=sidebar],
.undercolor1 .el-picker-panel__sidebar {
    background-color: rgba(99, 127, 212, 0.5);
}
.undercolor1 .el-input__inner {
    background-color: rgba(255, 255, 255, 0.6);
}
.undercolor1 .el-picker-panel__shortcut {
    color: #ffffff;
}
.undercolor1 .el-transfer-panel {
    background-color: rgba(104, 92, 198, 0.5);
}
.undercolor1 .el-transfer-panel .el-transfer-panel__header,
.undercolor1 .el-transfer-panel .el-transfer-panel__footer {
    background-color: rgba(89, 73, 216, 0.7);
    color: #f5f5f5;
}
.undercolor1 .el-transfer-panel .el-transfer-panel__footer .el-checkbox {
    color: #bfcbd9;
}
.undercolor1 .el-transfer-panel__item.el-checkbox {
    color: #bfcbd9;
}
.undercolor3 .container .header {
    background: #20A0FF;
    color: #ffffff;
}
.undercolor3 .container .mapName {
    color: #ffffff;
}
.undercolor3 .container .mapName .map_meanus {
    background: #20A0FF;
    color: #ffffff;
}
.undercolor3 .container .mapName .map_meanus li:hover {
    background: #057bd2;
}
.undercolor3 .el-tooltip__popper.is-dark {
    color: #ffffff;
    background: #0883de;
}
.undercolor3 .el-tooltip__popper[x-placement^=left] .popper__arrow {
    border-left-color: #0883de;
}
.undercolor3 .el-tooltip__popper[x-placement^=left] .popper__arrow::after {
    border-left-color: #0883de;
}
.undercolor3 .total_anchor {
    color: #ffffff;
}
.undercolor3 .total_tag {
    color: #ffffff;
}
.undercolor3 .container .main .m-right {
    background: #20A0FF;
}
.undercolor3 .container .main .one_menu_item:hover {
    background: #057bd2;
}
.undercolor3 .container .main .tag.active,
.undercolor3 .container .main .anchor.active,
.undercolor3 .container .main .fence.active,
.undercolor3 .container .main .attendance.active,
.undercolor3 .container .main .polling.active,
.undercolor3 .container .main .dimension.active,
.undercolor3 .container .main .moreMonitor.active,
.undercolor3 .container .main .historys.active {
    background: #057bd2;
}
.undercolor3 .container .main .m-right .tag,
.undercolor3 .container .main .m-right .anchor,
.undercolor3 .container .main .m-right .fence,
.undercolor3 .container .main .m-right .historys,
.undercolor3 .container .main .m-right .attendance,
.undercolor3 .container .main .m-right .polling,
.undercolor3 .container .main .m-right .statis,
.undercolor3 .container .main .m-right .camera,
.undercolor3 .container .main .m-right .wall,
.undercolor3 .container .main .m-right .heatMap,
.undercolor3 .container .main .m-right .dimension,
.undercolor3 .container .main .m-right .moreMonitor {
    border-bottom: 1px solid #2e9aea;
    border-top: 1px solid #1092f3;
}
.undercolor3 .m-right .line_color {
    border-top: 1px solid #1092f3;
}
.undercolor3 .container .main .m-left .menu:hover,
.undercolor3 .container .main .m-right .menu:hover {
    background-color: #057bd2;
}
.undercolor3 .container .main .m-left {
    background: #20A0FF;
}
.undercolor3 .btn-appear {
    background-color: #e63eba;
}
.undercolor3 .container .main .m-right .tag.active .appear,
.undercolor3 .container .main .m-right .anchor.active .appear,
.undercolor3 .container .main .m-right .fence.active .appear,
.undercolor3 .container .main .m-right .historys.active .appear,
.undercolor3 .container .main .m-right .polling.active .appear,
.undercolor3 .container .main .m-right .attendance.active .appear,
.undercolor3 .container .main .m-right .statis.active .appear,
.undercolor3 .container .main .m-right .camera.active .appear,
.undercolor3 .container .main .m-right .wall.active .appear,
.undercolor3 .container .main .m-right .heatMap.active .appear,
.undercolor3 .container .main .m-right .dimension.active .appear,
.undercolor3 .container .main .m-right .moreMonitor.active .appear {
    background: rgba(31, 160, 255, 0.7);
}
.undercolor3 .container .main .m-left .tag.active .appear,
.undercolor3 .container .main .m-left .anchor.active .appear,
.undercolor3 .container .main .m-left .fence.active .appear,
.undercolor3 .container .main .m-left .historys.active .appear,
.undercolor3 .container .main .m-left .attendance.active .appear,
.undercolor3 .container .main .m-left .polling.active .appear,
.undercolor3 .container .main .m-left .statis.active .appear,
.undercolor3 .container .main .m-left .camera.active .appear,
.undercolor3 .container .main .m-left .wall.active .appear,
.undercolor3 .container .main .m-left .heatMap.active .appear,
.undercolor3 .container .main .m-left .dimension.active .appear,
.undercolor3 .container .main .m-left .moreMonitor.active .appear {
    background: rgba(31, 160, 255, 0.7);
}
#right_menus.undermenucolor3 .el-table tr {
    color: #ffffff;
}
#right_menus.undermenucolor3 .el-table--enable-row-hover .el-table__body tr:hover > td {
    color: #ffffff;
}
#right_menus.undermenucolor3 .el-table__footer-wrapper thead div,
#right_menus.undermenucolor3 .el-table__header-wrapper thead div {
    color: #ffffff;
}
.undercolor3 .el-table__empty-text {
    color: #ffffff;
}
#right_menus.undermenucolor3 ::-webkit-scrollbar-thumb {
    background: rgba(23, 143, 232, 0.8);
}
#right_menus.undermenucolor3 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(245, 245, 245, 0.3);
}
.undercolor3 .fence_from_wrap_input,
.undercolor3 .fence_from_wrap-select,
.undercolor3 .fence_from_wrap-select_trif,
.undercolor3 .dimension_from_wrap_input,
.undercolor3 .moreMonitor_from_wrap-select,
.undercolor3 .moreMonitor_from_wrap_input,
.undercolor3 .camera .camera_from_wrap .form-edit .camera_from_wrap_input,
.undercolor3 .camera .camera_from_wrap .form-edit select,
#right_menus.undermenucolor3 .el-input__inner {
    background: rgba(16, 110, 181, 0.5);
}
.undercolor3 .fence_from_wrap-select_tagCat_popper {
    background: #1fa0ff;
}
.undercolor3 .el-picker-panel {
    background: rgba(11, 141, 236, 0.7);
}
.undercolor3 .el-time-panel__btn {
    color: #f4f6f9;
}
.undercolor3 .el-time-panel__btn.confirm {
    color: #8df30b;
}
#right_menus.undermenucolor3 .fence_validity_style .addBtn {
    background: #137ac7;
}
.undercolor3 .fence_from_wrap_sure.btn,
.undercolor3 .dimension_from_wrap .dim_btn-box .dim_from_wrap_btn,
.undercolor3 .moreMonitor .btn-box button.btn,
.undermenucolor3 .camera_save {
    background-color: #067bd2;
    color: #ffffff;
    opacity: 1;
}
.undermenucolor3 .camera_save {
    border: none;
}
.undermenucolor3 .anchor_del {
    border: none;
}
.undercolor3 .fence_from_wrap_sure.btn:hover,
.undercolor3 .dimension_from_wrap .dim_btn-box .dim_from_wrap_btn:hover,
.undercolor3 .moreMonitor .btn-box button.btn:hover,
.undermenucolor3 .camera_save:hover {
    background-color: #ffffff;
    color: #067bd2;
    opacity: 1;
}
.undercolor3 .fence_from_wrap_reset.btn,
.undermenucolor3 .anchor_del {
    background-color: #067bd2;
    color: #ffffff;
    opacity: 1;
}
.undercolor3 .fence_from_wrap_reset.btn:hover,
.undermenucolor3 .anchor_del:hover {
    background-color: #ffffff;
    color: #067bd2;
    opacity: 1;
}
.undercolor3 .moreMonitor_from_wrap .form-edit {
    background: none;
}
.undercolor3 .moreMonitor_all_box {
    background: #1fa0ff;
}
.undercolor3 .el-picker-panel [slot=sidebar],
.undercolor3 .el-picker-panel__sidebar {
    background-color: rgba(22, 128, 206, 0.5);
}
.undercolor3 .el-input__inner {
    background-color: rgba(255, 255, 255, 0.6);
}
.undercolor3 .el-picker-panel__shortcut {
    color: #ffffff;
}
.undercolor3 .el-transfer-panel {
    background-color: rgba(12, 130, 216, 0.5);
}
.undercolor3 .el-transfer-panel .el-transfer-panel__header,
.undercolor3 .el-transfer-panel .el-transfer-panel__footer {
    background-color: rgba(24, 141, 226, 0.9);
    color: #f5f5f5;
}
.undercolor3 .el-transfer-panel .el-transfer-panel__footer .el-checkbox {
    color: #bfcbd9;
}
.undercolor3 .el-transfer-panel__item.el-checkbox {
    color: #bfcbd9;
}