<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" style="padding: 10px;">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>~~title~~</title>

	
	<link rel="stylesheet" type="text/css" href="../../common/css/reset.css">
	<link rel="stylesheet" href="../../common/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../common/plugins/bootstrap-table/bootstrap-table.min.css">
	<link rel="stylesheet" href="../../common/plugins/element-ui/element-ui/lib/theme-default/index.css">
	<link rel="stylesheet" href="index.css">

	<script type="text/javascript" src="../../common/bin/super.common.min.js"></script>

	<script type="text/javascript" src="../../common/js/comm.js"></script>
	<script type="text/javascript" src="../../common/js/session-check.js"></script>

	<script>
        /**
         * 全局变量
         */
        var util = UBIT;
        var ME = {
            //访问路径
            baseUrl : '/',
            //请求的服务器地址
            host: UBIT.host,
            imgHost: UBIT.imgHost,
            user: UBIT.user,
            api_token: UBIT.api_token,
            vm: null,
        };
        UBIT.initLang('projTagLocation');
	</script>

</head>
<body>
	
	<div id="app" v-cloak="">

		<div id="tagCatetoolbar">
			<el-button type="info" size="small" @click="add">~~dialogTitle~~</el-button>
			<el-button type="warning" size="small" @click="update">~~update~~</el-button>
			<el-button type="danger" size="small" @click="deleteTagLocation">~~delete~~</el-button>
			<el-button type="info" size="small" onclick="UBIT.bootstrapTableExportCsv('tagLocation', true);">~~exports~~</el-button>
		</div>


		<table id="tagLocation"></table>
        <el-dialog :visible.sync="dialogFormVisible" :title='dialogTitle'>
            <el-row>
                <el-col :span="5">
                    <div class='dialog-label'>~~selectTag~~</div>
                </el-col>
                <el-col :span="15" :offset="2">
                    <el-select filterable="" v-model='tag' class='dialog-select'>
                        <el-option v-for='(item,index) in tags' :key='index' :label='item.code' :value='item.code'></el-option>
                    </el-select>
                </el-col>
            </el-row>
            <el-row class='margin-top'>
                <el-col :span="5">
                    <div class='dialog-label'>~~selectMap~~</div>
                </el-col>
                <el-col :span="15" :offset="2">
                    <el-select filterable="" v-model='map' class='dialog-select'>
                        <el-option v-for='(item,index) in maps' :key='index' :label='item.cname' :value='item.id'></el-option>
                    </el-select>
                </el-col>
            </el-row>
            <el-row class='margin-top'>
                <el-col :span="5">
                    <div class='dialog-label'>~~keyword~~</div>
                </el-col>
                <el-col :span="15" :offset="2">
                    <el-input type='text' v-model='keyword'></el-input>
                </el-col>
            </el-row>
            <el-row class='margin-top'>
                <el-col :span="5">
                    <div class='dialog-label'>x</div>
                </el-col>
                <el-col :span="15" :offset="2">
                    <el-input type='text' v-model='x'></el-input>
                </el-col>
            </el-row>
            <el-row class='margin-top'>
                <el-col :span="5">
                    <div class='dialog-label'>y</div>
                </el-col>
                <el-col :span="15" :offset="2">
                    <el-input type='text' v-model='y'></el-input>
                </el-col>
            </el-row>
            <el-row class='margin-top'>
                <el-col :span="5">
                    <div class='dialog-label'>z</div>
                </el-col>
                <el-col :span="15" :offset="2">
                    <el-input type='text' v-model='z' disabled=""></el-input>
                </el-col>
            </el-row>
            <el-row class='margin-top-40'>
                <el-col :span="4" :offset="7">
                    <el-button class='dialog-button' type="primary" @click='commit'>{{dialogTitle}}</el-button>
                </el-col>
                <el-col :span="4" :offset="2">
                    <el-button class='dialog-button' type="info" @click='cancel'>~~cancel~~</el-button>
                </el-col>
            </el-row>
        </el-dialog>
	</div>


<footer>

	<script type="text/javascript" src="index.js"></script>

</footer>

</body>
</html>

